* {
  margin: 0;
}
body{
  display: flex;
  flex-direction: column;
}
.container{
  max-width: 1440px;
  background-color: $color-black;
  margin: auto;
}
h2 {
  margin-bottom: 80px;
}

h1,
h2 {
  text-align: center;
}

a:hover {
  text-decoration: underline;
}