.boxes {
    @include dp-flex;
    &__content{
        margin: 40px;
        @include el-center;
        @include dir-col;
    }
    &__base{
        width: 120px;
        height: 120px;
        color: $color-light;
        margin: 20px;
        @include el-center;
        background: $color-info;
    }
    &--skewX {
        transform: skewX(0deg);
    }
    &--skewY {
        transform: skewY(0deg);
    }
    &--skew {
        transform: skew(0deg, 0deg);
    }
}