.boxes {
    @include dp-flex;
    &__base{
        width: 140px;
        height: 140px;
        color: $color-light;
        margin: 40px;
        @include el-center;
    }
    &--rotDegrees {
        background: $color-confirm;
        transform: rotate(-360deg);
        transition: transform 500ms ease-in-out;
    }

    &--rotTurns {
        background: $color-info;
        transform: rotate(-1turn);
        transition: transform 500ms ease-in-out;
    }
}