.progress {
    color: $color-light;
    border: 0.2rem solid $color-light;
    padding: 5px;
    width: 500px;
    &__bar {
        background-color: $color-primary-hover;
        height: 50px;
        transform: scaleX(0);
        transform-origin: 0%;
    }
}